flask>=3.1.2
flask-login>=0.6.3
google>=3.0.0
google-genai>=1.56.0
markitdown[all]>=0.1.4
openai
psycopg2-binary>=2.9.11
python-docx>=1.2.0
python-dotenv>=1.2.1
reportlab>=4.4.5
sqlalchemy>=2.0.45
streamlit>=1.52.2
werkzeug>=3.1.4

# dev/test deps (optional - remove if you don't want them in image)
pytest>=9.0.2
